

@property --_l {
    
  syntax: "<length>";
    initial-value: 0px;
    inherits: true;
  }
  @property --_r {
    syntax: "<length>";
    initial-value: 0px;
    inherits: true;
  }
  
  img {
    padding: 10px;
    --d: 18px;  /* the depth */
    --a: 20deg; /* the angle */
    
    /* the below value is based on the depth and the angle.
       the formula is a bit difficult to express so we update it manually
    */
    --x: 10px;
    
    width: 250px; /* control the size */
    aspect-ratio: 1; /* you can use 1 as ratio but I found 1.1 a little better */
    object-fit: cover;
    padding-block: var(--d);
    transform: perspective(400px) rotateY(calc(var(--_i,1)*var(--a)));
    outline: var(--d) solid #0008;
    outline-offset: calc(-1*var(--d));
    --_d: calc(100% - var(--d));
    --_l: 0px;
    --_r: 0px;
    clip-path: polygon(
      var(--_l) calc(var(--_d) - var(--x)),
      var(--_l) calc(var(--d)  + var(--x)), 
      var(--d) var(--d),var(--_d) var(--d),
      calc(var(--_d) + var(--_r)) calc(var(--d)  + var(--x)),
      calc(var(--_d) + var(--_r)) calc(var(--_d) - var(--x)),  
      var(--_d) var(--_d),var(--d) var(--_d)
     );
    transition: transform .3s,--_r .15s,--_l .15s .15s;
    transition-timing-function: linear;
    cursor: pointer;
  }
  img:hover,
  img.alt{
    --_l: var(--d);
    --_r: var(--d);
    --_i: -1;
    transition-delay: 0s,.15s,0s;
  }
  img.alt:hover {
    --_l: 0px;
    --_r: 0px;
    --_i: 1;
    transition-delay: 0s,0s,.15s;
  }
  
  /* we do a different animation for firefox since it doesn't support @property */
  @supports not (-webkit-mask: paint(p)) {
    img,
    img.alt{
      transition: .3s;
    }
    img:hover,
    img.alt:hover {
      --_i: 0;
      --_l: var(--d);
      --_r: 0px;
    }
  }

  .books {
    display: flex;
    justify-content: space-between;
  }
  
  body {
    /* margin: 0px 90px 195px 0px; */
    padding: 0px 90px 0px 90px;
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 30px;
    background: #a9a7a7;
    transition: background 1.2s linear;
  }

  body.dark {background-color: #3a3e49;}
  body.dark h1, body.dark .support a {color: #fff;}
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 42px;
    height: 16px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: #f1c40f;}
  
  .fa-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }