@import url("https://rsms.me/inter/inter.css");

body, html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body * {
    box-sizing: border-box;
  }

  :root {
    --purple-bare: #F8EDFF;
    --purple-light: #e7cafa;
    --purple-core: #7E26C8;
    --purple-dark: #62457a;
    --red: #e3468a;
    --red-dark: #9e1852;
    --gold: #faf18f;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  symbol {
    overflow: visible;
  }

legend {
    margin: 0 0 1.5em;
    display: block;
    width: 100%;;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    color: var(--purple-core);
}

#avatar {
    margin: 0px auto 1.5em;
    width: 200px;
}

#avatar div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

#avatar div svg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  input[type=radio] {
    position: absolute;
    top: auto;
    z-index: 2;
    width: 1.5em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0.0001;
  }

  .rate-radio {
    margin: 0 0.5em 0 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #2a2a2a;
    line-height: 1;
  }

  .rate-radio:last-of-type {
    margin-right: 0;
  }

  .rate-radio svg {
  display: block;
  width: 3em;
  height: 2.85em;
  fill: var(--purple-bare);
  stroke: #000;
  stroke-width: 3px;
  stroke-linejoin: round;
  transform: scale(0.625);
  transition: transform 0.2s ease-in-out;
  overflow: visible;
}