body {
    background-color: rgb(51, 53, 53);
    counter-reset: div_counter;
    /* display: flex; */
    gap:20px;
}

div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
}

div::before {
    counter-increment: div_counter;
    content: counter(div_counter);
    color: black;
    font-size: 28px;
    bottom: 0;
    right: 0;
    top: 0;
    left:0;
    padding: auto;
    position: absolute;
}

h1 {
    background-image: linear-gradient(to right, #ffff, #009b74, #d01c1f);
    background-clip: text;
    color: transparent;
    display: block;
}

h2{
    display: block;
    font-size: 48px;
    display: block;
}

h2::selection{
    color: coral;
  }

h3 {
    font-size: clamp(5rem, 8vw, 8rem);
}