@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');    

:root {
  --sz: 9vmin;
  --on: #4CAF50;
  --of: #f50000;
  --gr: #666666;
  --tr: all 0.5s ease 0s;
  --lg: var(--of);
}    

* {
  box-sizing: border-box;
  transition: var(--tr);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #1c2123, #1f2425);
    font-family: 'Roboto', Arial, Helvetica, serif;
}