@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');    

:root {
  --sz: 9vmin;
  --on: #4CAF50;
  --of: #f50000;
  --gr: #666666;
  --tr: all 0.5s ease 0s;
  --lg: var(--of);
}    

* {
  box-sizing: border-box;
  transition: var(--tr);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #1c2123, #1f2425);
    font-family: 'Roboto', Arial, Helvetica, serif;
}

body::before, body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    repeating-conic-gradient(#0002 0.00005%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), 
    repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);
    opacity: 0.75;
    filter: blur(0.75px);
}

.toggle {
    position: relative;
    width: calc(var(--sz) * 6);
    height: calc(var(--sz) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

label[for=btn] {
    position: absolute;
    width: calc(var(--sz) * 6);
    height: calc(var(--sz) * 2);
    background: #616774;
    border-radius: var(--sz);
    box-shadow: 
      0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 
      0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000d, 
      0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #fff8, 
      0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #000c;
  }    
  
  .track {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--sz);
    overflow: hidden;
    background: #191e1e;
    box-shadow: 0 calc(var(--sz) / 3) calc(var(--sz) / 2) 0 #000 inset;
  }

  #btn:checked + label .track:before {
    left: 0%;
  }

  
.thumb {
    position: absolute;
    width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 5));
    height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 5));
    top: calc(calc( var(--sz) / 10) + calc(var(--sz) / 200));
    left: calc(calc( var(--sz) / 10) + calc(var(--sz) / 100));
    background: linear-gradient(180deg,  #3f4447, #262727);
    border-radius: var(--sz);
    box-shadow: calc(var(--sz) / -25) calc(var(--sz) / 25) calc(var(--sz) / 30) 0 #fff2 inset, 0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    animation: move-thumb 0.5s ease 0s;
  }
  
  @keyframes move-thumb {
    0% { 
      --lg: var(--of);
      left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 7))); 
    }
    25%, 75% { 
      --lg: #999999; 
    }
    100% { 
      --lg: var(--on);
      left: calc(calc( var(--sz) / 10) + calc(var(--sz) / 100)); 
    }
  }