* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background: red;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: color 4.4s ease;
    position: relative;
}

.section .overlay {
    background-color: rgba(0, 0,0, 0.7);
}
