body {
    background:rgb(176, 158, 158);
}

.neon {
    background: green;
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden;
}

.text {
    color: wheat;
    font-weight: bold;
    font-family: 'Arial';
    text-transform: uppercase;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

