body {
    background:rgb(176, 158, 158);
}

.neon {
    background: green;
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden;
}

.text {
    color: wheat;
    font-weight: bold;
    font-family: 'Arial';
    text-transform: uppercase;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.gradient {
    background: linear-gradient(to right, rgba(5, 117, 230, 1)4.9%, rgba(0, 242, 96, 1)97.8%); 
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
mix-blend-mode: multiply;
}