@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Questrial", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    background: black;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 90px;
  }