*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .heart-loader {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    width: 180px;
    height: 180px;
    overflow: visible;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }