.container {
width: 100vw;
height: 100vh;
position: relative;
overflow: hidden;
}

.background {
    background-color: #86bbd8;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  .timeChange {
    animation: timeChange 2s linear 1 forwards
  }

  @keyframes timeChange {
    70% {
      background-color: #86bbd8;
    }
    100% {
      background-color: #2f3061;
    }
  }
  @keyframes stars {
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .cloudContainer {
    top: 5%;
    width: 100%;
    width: 100%;
    height: 50vh;
    position: relative;
  }

  .clouds {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/549579/clouds.png);
    background-size: 250%;
    width: 10%;
    height: 40%;
  }
  
  .cloud1 {
    position: absolute;
    top: 15%;
    left: 10%;
    animation: moveclouds 2500s linear infinite;
  }

  .cloud3 {
    position: absolute;
    top: 45%;
    left: 25%;
    animation: moveclouds 2000s linear infinite;
  }

  .cloud4 {
    position: absolute;
    top: 30%;
    left: 35%;
    animation: moveclouds 2300s linear infinite;
  }

  .cloud5 {
    position: absolute;
    top: 10%;
    left: 55%;
    animation: moveclouds 2800s linear infinite;
  }

  .cloud6 {
    position: absolute;
    top: 55%;
    left: 65%;
    animation: moveclouds 2500s linear infinite;
  }

  .cloud7 {
    position: absolute;
    top: 30%;
    left: 80%;
    animation: moveclouds 2500s linear infinite;
  }

  .starsPlaceholder {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  
.stars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/549579/stars.png);
    animation: stars 2.5s linear forwards;
  }

  .sunAndMoon {
    z-index: 10;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .clouds {
    z-index: 2;
  }

  .hills {
    z-index: 2;
    position: absolute;
    bottom: 80px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/549579/hlls.svg);
    min-height: 250px;
    width: 140%;
    animation: hills 130s infinite;
  }