body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #d8d899;
}

input#button {
    /* display: none; */
}

.printer-animation, .printer {
    position: relative;
    top: -35px;
}