body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #d8d899;
}

input#button {
    display: none;
}

.printer-animation, .printer {
    position: relative;
    top: -35px;
}

.top {
    position: absolute;
    background-color:#282C30;
    width: 160px;
    height: 70px;
    border-radius: 20px 20px 0 0;
    border: 5px solid black;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: inset 20px 0 #373b3d;
}

.middle {
    position: absolute;
    background-color: #4a4f55;
    border: 5px solid black;
    width: 250px;
    height:100px;
    border-radius: 20px;
    top:30px;
    left:-130px;
    box-shadow: inset 20px 0 #373b3d;
    z-index:5;
  }