.wrapper {
    width: 200px;
    border: 1px solid black;
}

.truncated-text {
    background-color: bisque;
    width: 100%;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}