html {
    scroll-behavior: smooth;
  }

.container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 70px 64px;
}
.sec {
    align-items: end;
    padding: 12px 18px;
    border-radius: 6px;
    background-color: #a8abb4;
  }

  .container .sec:not(:last-child) {
    margin-bottom: 36px;
  }