body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: rgb(25,55,0); */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(61,152,179,1) 100%);
    }

    