*{ 
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #eae4df;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .stage {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #f5f2f1;
    position: relative;
  }

  .stage:after {
    background-color: #eae4df;
    height: 100px;
    width: 100%;
    position: absolute;
    content: "";
    bottom: 0;
  }

  .table {
    position: absolute;
    bottom: 92px;
    width: 100%;
    height: 8px;
    background-color: #caa17f;
    z-index: 1;
    border-radius: 20px;
}

.pc {
    z-index: 1;
    position: absolute;
    bottom: 100px;
    width: 142px;
    height: 98px;
    background-color: #c0c0c2;
    border-radius: 5pxpx;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pc::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #b5b7ba;
    position: absolute;
    top:51%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .pc:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    height: calc(100% - 4px);
    background-color: #d1d3d5;
    border-radius: 2px;
  }

  .guy {
    background-color: red;
    width: 174px;
    height: 130px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(0) translateZ(0);
    transform: translateX(-50%) translateY(0) translateZ(0);
    bottom: 198px;
    -webkit-animation: guyMove 3500ms cubic-bezier(0.4, 0, 1, 1) infinite
      alternate;
    animation: guyMove 3500ms cubic-bezier(0.4, 0, 1, 1) infinite alternate;
  }

  @-webkit-keyframes guyMove {
    0% {
      -webkit-transform: translateX(-50%) translateY(45px) translateZ(0);
    }
    15% {
      -webkit-transform: translateX(-50%) translateY(50px) translateZ(0);
    }
    30% {
      -webkit-transform: translateX(-50%) translateY(45px) translateZ(0);
    }
    45% {
      -webkit-transform: translateX(-50%) translateY(50px) translateZ(0);
    }
    60% {
      -webkit-transform: translateX(-50%) translateY(0px) translateZ(0);
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(0px) translateZ(0);
    }
  }
  @keyframes guyMove {
    0% {
      transform: translateX(-50%) translateY(45px) translateZ(0);
    }
    15% {
      transform: translateX(-50%) translateY(50px) translateZ(0);
    }
    30% {
      transform: translateX(-50%) translateY(45px) translateZ(0);
    }
    45% {
      transform: translateX(-50%) translateY(50px) translateZ(0);
    }
    60% {
      transform: translateX(-50%) translateY(0px) translateZ(0);
    }
    100% {
      transform: translateX(-50%) translateY(0px) translateZ(0);
    }
  }

  .body {
    width: 70px;
    height: 40px;
    position: absolute;
    bottom: -14px;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50px 50px 0 0;
    background-color: #36508a;
  }

  .body:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    border-radius: 50px 50px 0 0;
    background-color: #4563a5;
    bottom: 5px;
  }
  
  .neck {
    width: 26px;
    height: 26px;
    background-color: #f6d2be;
    border-radius: 0 0 50px 50px;
    bottom: 4px;
    z-index: 4;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .face {
    background-color: #f6d2be;
    width: 78px;
    border-radius: 0 0 50px 50px;
    height: 58px;
    position: absolute;
    bottom: 26px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .face:after {
    background-color: #fddac5;
    width: 68px;
    border-radius: 0 0 50px 50px;
    height: 52px;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
  }
  
  .eye {
    width: 12px;
    height: 12px;
    background-color: #533d34;
    position: absolute;
    left: 15px;
    top: 14px;
    z-index: 5;
    border-radius: 50px;
  }

  .eye:nth-child(2) {
    left: auto;
    right: 15px;
  }
  
  .eye:after {
    content: "";
    width: 16px;
    left: -2px;
    height: 14px;
    background-color: #fddac5;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: eyeMove 3500ms cubic-bezier(0.4, 0, 1, 1) infinite
      alternate;
    animation: eyeMove 3500ms cubic-bezier(0.4, 0, 1, 1) infinite alternate;
  }
  
  @-webkit-keyframes eyeMove {
    0% {
      -webkit-transform: translateY(16px) translateZ(0);
    }
    15% {
      -webkit-transform: translateY(16px) translateZ(0);
    }
    30% {
      -webkit-transform: translateY(16px) translateZ(0);
    }
    45% {
      -webkit-transform: translateY(16px) translateZ(0);
    }
    60% {
      -webkit-transform: translateY(4px) translateZ(0);
    }
    100% {
      -webkit-transform: translateY(4px) translateZ(0);
    }
  }