@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #b19e9e;  
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}

/* Animation */
p {
  animation: animated-text 4s steps(16) 1s 1 normal both,
animated-cursor 1500ms steps(16) infinite normal;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 300px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.70);}
  to{border-right-color: transparent;}
}