.cards {
    display: grid;
    grid-template-columns: 30px 300px;
    gap: 10px;
    background-color: rebeccapurple;
}

.card {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 20px;
}

.card__image-wrapper {
    height: 100%;
    will-change: tranform;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


