* {
    font-family: sans-serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 600px;
    height: 95%;
    margin: 0 auto;
    position: relative;
  }
  .truck {
    content: "";
    width: 600px;
    height: 280px;
    position: absolute;
    bottom: 50px;
  }
  .truck:before,
  .truck:after {
    content: "";
    position: absolute;
    border-radius: 10px;
  }
  .truck:before {
    top: 22px;
    left: 20px;
    width: 528px;
    height: 8px;
    background: #f1aca8;
    border-radius: 10px;
    z-index: 3;
  }
  .truck:after {
    top: 128px;
    left: -6px;
    width: calc(100% + 12px);
    height: 16px;
    background: #f9e9e4;
    z-index: 2;
  }
  .body {
    position: relative;
    width: 600px;
    height: 350px;
  }
  .body .top {
    position: relative;
    z-index: 2;
    width: 600px;
    height: 140px;
    border-radius: 120px 180px 4px 4px;
    overflow: hidden;
  }
  .body .top > .back,
  .body .top > .front {
    position: absolute;
    top: 0;
    background-color: #f9e9e4;
  }
  .body .top > .back {
    left: 0;
    width: 420px;
    height: calc(100% - 12px);
  }
  .body .top > .front {
    right: 0;
    width: 180px;
    height: calc(100% - 12px);
  }
  .body .bottom {
    position: relative;
    z-index: 0;
    width: 632px;
    height: 140px;
    margin-left: -6px;
    overflow: hidden;
  }
  .body .bottom .board {
    position: absolute;
    top: -100px;
    left: 6px;
    width: 618px;
    height: 400px;
    background-color: #9396a4;
    border-radius: 0 40% 44% 190px;
    overflow: hidden;
    z-index: 1;
  }
  .body .bottom .board .back,
  .body .bottom .board .front {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #f1aca8;
  }
  .body .bottom .board .back {
    left: 0;
    width: 440px;
  }
  .body .bottom .board .front {
    right: 0;
    width: 198px;
  }

  .body .bottom .board .front:before {
    content: "";
    position: absolute;
    top: 110px;
    left: 20px;
    width: 28px;
    height: 8px;
    background: #fefefe;
    border-radius: 5px;
  }

  .body .bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: #f7c6c5;
    border-radius: 10px;
    z-index: 2;
  }

  .body .light {
    position: absolute;
    top: 50px;
    right: 0;
    width: 24px;
    height: 40px;
    background-color: #f7c6c5;
    border-radius: 50%;
    z-index: 0;
  }

  .window {
    width: 70px;
    height: 65px;
    border: 4px solid #fefefe;
    background: #fff;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    overflow: hidden;
  }

  .window:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 20px;
    height: 150%;
    width: 30px;
    color: #e8fbff;
    background-color: #e8fbff;
    transform: rotate(45deg);
    box-shadow: -30px 0 0 -10px;
  }

  .window.back {
    left: 20px;
  }

  .window.front {
    left: 110px;
  }
  .menu {
    box-sizing: border-box;
    z-index: 4;
    position: absolute;
    top: 90px;
    left: 24px;
    width: 72px;
    height: 100px;
    background: #efd3d3;
    border-radius: 2px;
    color: #f1aca8;
    text-align: center;
    font-size: 8px;
    padding: 4px 0;
  }
  .menu__list {
    position: absolute;
    left: 4px;
    width: calc(100% - 8px);
    height: 0;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: #fefefe;
    color: #fff;
  }

  .menu__list .menu__item {
    position: relative;
    background: #fefefe;
    height: 28px;
  }
  .menu__list .menu__item {
    position: relative;
    background: #fefefe;
    height: 28px;
  }

  .menu__list .menu__item:nth-child(2):after {
    border-color: #bdf3e1;
  }
  .menu__list .menu__item:nth-child(3):after {
    border-color: #ffe87d;
  }
  .menu__list .menu__item:nth-child(3):after {
    border-color: #d19485;
  }
  .menu__list .menu__item:nth-child(5):after {
    border-color: #8ee0c5;
  }
  .menu__list .menu__item:nth-child(6):after {
    border-color: #f7c6c5;
  }

  .bar {
    z-index: 4;
    position: absolute;
    top: 40px;
    left: 120px;
    width: 260px;
    height: 170px;
    background: #493735;
    border-right: 8px solid #2b1f1d;
    border-left: 8px solid #2b1f1d;
  }

  .bar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -14px;
    width: 287px;
    height: 12px;
    background: #e87c7c;
    border-radius: 3px;
  }

  .awning {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
  }

  .awning:before,
.awning:after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 38px solid #f9e9e4;
}