.rating {
    /* settings, you can play with these */
    --star-size: 5rem;
    --gap: 15px;
    
    /* calculations, don't touch these :) */
    --gap-max-size: min(var(--gap), var(--star-size) / 5);
    --gap-calc: calc( (var(--star-count, 0) - 1) * var(--gap-max-size) );
    
    height: var(--star-size);
    width: 
      calc(var(--star-count, 0) * var(--star-size) + var(--gap-calc));
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/star.svg);
    background-repeat: space no-repeat;
    background-size: var(--star-size);
  }
  
  @layer not-demo-related {
    body {
      font-size: 2rem;
      font-family: system-ui;
      padding: 4rem;
      background: #111;
      color: hsl(0 0% 90%);
    }
    
    select {
      font: inherit;
      padding: 1rem 3rem;
    }
    
    .rating {
  /*     margin-inline: auto; */
    }
  }
  
  /* https://www.youtube.com/watch?v=oiai47goI6A&ab_channel=KevinPowell */