@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #9c9ea9;
}

a {
    position: relative;
    background: #27282c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5ren;
    padding: 0.75rem 1.5rem;
transition: 0.5s;
}

a:hover {
    letter-spacing: 0.25rem;
    background: var(--color);
    color: var(--color);
    box-shadow: 0 0 35px var(--color);
}

