body {
  background: linear-gradient(180deg, #efefef 0%, #cdcdcf 100%) no-repeat;
height: 100vh;
display: flex;
flex-flow: row nowrap;
justify-content: center;
padding: 0;
margin: 0;
position: relative;
}

#toggleWrapper {
    width: 100px;
    height: 140px;
    background: linear-gradient(180deg, #efefef 0%, #cccccc 100%);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: solid 1px #fff;
    border-right-color: #c9c9c9;
    border-bottom-color: #949494;
    border-left-color: #bcbcbc;
    box-sizing: border-box;
    margin: auto;
    padding: 12px 14px;
}
#toggleWrapper input {
    /* appearance: none; */
}
#toggleWrapper > div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    border: solid 1px #666;
    border-radius: 8px;
  box-shadow: 2px -2px 2px 1px rgba(0, 0, 0, 0.1), -2px 0px 2px 1px rgba(0, 0, 0, 0.1);

}
