body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #40405a;
}

.four-seasons {
    position: relative;
}

.window {
position: relative;
overflow: hidden;
width: 330px;
height: 250px;
border: 10px solid white;
}

