body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #40405a;
}

.four-seasons {
    position: relative;
}

.window {
position: relative;
overflow: hidden;
width: 330px;
height: 250px;
border: 10px solid white;
}

.r-button1, .r-button2, .r-button3, .r-button4 {
    position: relative;
    display: block;
    border-radius: 50%; 
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #dad7cd;
    transition: .3s;
    width:10px;
    height: 10px;
    z-index:10;
    top:210px;
  }
  
  .r-button1:before, .r-button2:before, .r-button3:before, .r-button4:before {
    content:"";
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: transparent;
    transform: translate(-50%, -50%);
    left: -50%;
    top: 50%;
    border-radius: 50%;
  }

  .r-button1 {
    left: -115px;
  }

  .r-button2 {
    left:145px;
  }
  
  .r-button3 {
    left: 175px;
  }
  
  .r-button4 {
    left: 205px;
  }