@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #14171e;
}

a {
    position: relative;
    text-decoration: none;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
}

a span {
    position: relative;
    z-index: 1;
}